In [2]:
import pandas as pd
import streamlit as st

In [3]:
"""
# My first app
Here's our first attempt at using data to create a table:
"""

import streamlit as st
import pandas as pd
df = pd.DataFrame({
  'first column': [1, 2, 3, 4],
  'second column': [10, 20, 30, 40]
})

df

   first column  second column
0             1             10
1             2             20
2             3             30
3             4             40

In [4]:
import streamlit as st
import pandas as pd

st.write("Here's our first attempt at using data to create a table:")
st.write(pd.DataFrame({
    'first column': [1, 2, 3, 4],
    'second column': [10, 20, 30, 40]
}))

2022-12-05 23:43:42.189
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /opt/anaconda3/envs/pythonProject3/lib/python3.10/site-packages/ipykernel_launcher.py [ARGUMENTS]